.main-body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.6)),url(./travelGuru/Image/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* padding-top: 40px;
  padding-bottom: 60px; */
}
